<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no">
<head>

  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="static/css/font-awesome.min.css" />
  <link rel="stylesheet" href="static/css/fonts.css">
  <link rel="stylesheet" href="static/css/tweet_button.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

</head>

<body>
	<div id ='container'>
		<form name="create" action="/new" method="POST">
			<input type="text" name="campaign_text" value='Type to post...'>
			<input type="submit" value="Submit">
		</form>
	</div>
	{% if is_new == False and can_post == False %}
		<p> ERROR, Be considerate </p>
	{% endif %}
</body>

<script>

</script>
</html>