<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no">
<head>

  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="static/css/font-awesome.min.css" />
  <link rel="stylesheet" href="static/css/fonts.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>

<a href = '/campaigns'>
	<img src="static/img/splash.png" width="100%" height="100%">
</a>

</body>

</html>