<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no">
<head>

  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="static/css/font-awesome.min.css" />
  <link rel="stylesheet" href="static/css/fonts.css">
  <link rel="stylesheet" href="static/css/tweet_button.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

</head>

<body>

<div id="container">
	<a class="twitter-share-button"
		  href="https://twitter.com/intent/tweet?text=Try&url=https://www.flickr.com/photos/annakwa/19570481122/in/explore-2015-07-10/&via=TownHall" >
		Tweet</a>
</div>

</body>

</html>